# Dependency directories
node_modules/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Build files
dist/
build/

# Lock files
package-lock.json
yarn.lock

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
